#include <windows.h>
#include "AniruddhaVanjari.h"

MYICON ICON  AniruddhaVanjari.ico
MYBITMAP BITMAP	 AniruddhaVanjari.bmp 

DATAENTRY DIALOG DISCARDABLE 0,0,300,160
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION
CAPTION "DATAENTRY"

BEGIN
	LTEXT "Name	:",-1,35,10,30,10
	EDITTEXT ID_ETNAME, 70, 10, 150, 10, WS_TABSTOP
	
	LTEXT "Address	:", -1, 27, 30, 50,10
	EDITTEXT ID_ETADDRESS, 70,30,50,10, WS_TABSTOP
	
	LTEXT "Age	:",-1,41,50,20,10
	EDITTEXT ID_ETAGE, 70,50,11,10, WS_TABSTOP
	
	LTEXT "Salary	:",-1, 30,70,20, 10
	EDITTEXT ID_ETSALRS, 70,70,50,10, WS_TABSTOP
	

	LTEXT"Maritial Status:",-1, 5,90,60,10
	AUTORADIOBUTTON"Married",ID_RBMARRIED,70,90,50,10,WS_TABSTOP|WS_GROUP

	AUTORADIOBUTTON"Unmarried",ID_RBUNMARRIED,120,90,65,10
	DEFPUSHBUTTON"Continue",ID_PBCONTINUE,33,115,35,10,WS_TABSTOP
		
	LTEXT"Press ""Continue"" Button To Display Employee Details ""OK"" Button Will Save Employee Details",-1,5, 135,300,100
	
	PUSHBUTTON"OK",IDOK,140,115,25,10
	PUSHBUTTON"Exit",IDCANCEL,230,115,30,10
END

SEARCHING DIALOG DISCARDABLE 0,0,250,260
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION
CAPTION "SEARCHING"

BEGIN

	LTEXT "Name	:",-1,35,10,30,10
	EDITTEXT ID_ETNAME, 70, 10, 150, 10, WS_TABSTOP

	DEFPUSHBUTTON"Search",ID_PBSEARCH,30,30,25,10
	PUSHBUTTON"Cancel",ID_CANCEL,190,200,30,10
		
	PUSHBUTTON"Display All",ID_DISPLAY,35,200,40,15
	LTEXT"Press ""Display All"" Button To Display All Employee List",-1,35, 220,300,100
END	
		
	








